<a href="https://colab.research.google.com/github/seungyeon1203/AI-python/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
num1_str = input("첫 번째 정수를 입력하세요: ")
num2_str = input("두 번째 정수를 입력하세요: ")
try:
  num1 = int(num1_str)
  num2 = int(num2_str)
  if num1 > num2:
    print(f"{num1}은(는) {num2}보다 큽니다.") #첫 번째 수가 두 번째 수보다 큰 경우를 if 문으로 확인
  elif num1 < num2:
    print(f"{num1}은(는) {num2}보다 작습니다.")
  else:
    print(f"{num1}과(와) {num2}은(는) 같습니다.")
except ValueError:
  print("유효한 정수를 입력하세요.")

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 5
10은(는) 5보다 큽니다.

In [7]:
num1_str = input("첫 번째 정수를 입력하세요: ")
num2_str = input("두 번째 정수를 입력하세요: ")
num1 = int(num1_str)
num2 = int(num2_str)
if num1 > num2:
  print(f"{num1}은(는) {num2}보다 큽니다.")
elif num1 < num2:
  print(f"{num1}은(는) {num2}보다 작습니다.")
else:
  print(f"{num1}과(와) {num2}은(는) 같습니다.")
#try-except문 없이 if문 만으로 코딩

첫 번째 정수를 입력하세요: 9
두 번째 정수를 입력하세요: 12
9은(는) 12보다 작습니다.

In [13]:
num1_str = input("첫 번째 정수를 입력하세요: ")
num1 = int(num1_str)
print(f"첫 번째 수: {num1}")
num2_str = input("두 번째 정수를 입력하세요: ")
num2 = int(num2_str)
print(f"두 번째 수: {num2}")
num3_str = input("세 번째 정수를 입력하세요: ")
num3 = int(num3_str)
print(f"세 번째 수: {num3}")

max_num = num1
if num2 > max_num:
  print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num = num2
else : print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")
if num3 > max_num:
    print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
    max_num = num3
else:
  print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")
  print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요: 8
첫 번째 수: 8
두 번째 정수를 입력하세요: 98
두 번째 수: 98
세 번째 정수를 입력하세요: 96
세 번째 수: 96
두 번째 수 98가 현재 최대값 8보다 큽니다. 최대값을 업데이트합니다.
세 번째 수 96는 현재 최대값 98보다 크지 않습니다.

입력하신 세 수 8, 98, 96 중에서 가장 큰 수는 98입니다.

In [16]:
num1_str = input("첫 번째 정수를 입력하세요: ")
num1 = int(num1_str)
num2_str = input("두 번째 정수를 입력하세요: ")
num2 = int(num2_str)
num3_str = input("세 번째 정수를 입력하세요: ")
num3 = int(num3_str)

max_num = num1
if num2 > max_num:
  print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num = num2
else : print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")
if num3 > max_num:
    print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
    max_num = num3
else:
  print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")
  print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요: 954
두 번째 정수를 입력하세요: 451011
세 번째 정수를 입력하세요: 100
두 번째 수 451011가 현재 최대값 954보다 큽니다. 최대값을 업데이트합니다.
세 번째 수 100는 현재 최대값 451011보다 크지 않습니다.

입력하신 세 수 954, 451011, 100 중에서 가장 큰 수는 451011입니다.

In [30]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))
num3 = int(input("세 번째 정수를 입력하세요: "))

max_num = num1
if num2 > max_num:
  max_num = num2
if num3 > max_num:
  max_num = num3
print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요: 104
두 번째 정수를 입력하세요: 89
세 번째 정수를 입력하세요: 635

입력하신 세 수 104, 89, 635 중에서 가장 큰 수는 635입니다.

In [44]:
score = int(input("시험 점수 (0~100)를 입력하세요: "))
if 0 <= score <= 100:
  if score >= 90:
    grade = 'A'
  elif score >= 80:
    grade = 'B'
  elif score >= 70:
    grade = 'C'
  elif score >= 60:
    grade = 'D'
  else:
    grade = 'F'
  print(f"당신의 학점은 {grade}입니다.")
else:
  print("점수는 0부터 100사이의 값이여야 합니다ㅗ")

시험 점수 (0~100)를 입력하세요: 989
점수는 0부터 100사이의 값이여야 합니다

In [92]:
year = int(input("연도를 입력하세요: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요: 2222
2222년은 윤년이 아닙니다.

In [51]:
year = int(input())
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("윤년")
else:
  print("평년")

2025
평년

In [54]:
for i in range(5): # 0~4까지 반복, 0부터 4까지라 range가 5
 print("반복!", i+1)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [56]:
for i in range(1,10,2):
 print("반복!", i)

반복! 1
반복! 3
반복! 5
반복! 7
반복! 9

In [57]:
for i in [1,2,3,4,5]:
 print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [58]:
count = 0
while count <3:
  print("반복중:", count)
  count+=1 #count = count+1

반복중: 0
반복중: 1
반복중: 2

In [68]:
n = int(input("양의 정수 N을 입력하세요: "))
try:
  if n <= 0:
    print("N은 양의 정수여야 합니다.")
  else:
      total = 0
      for i in range(1, n + 1):
        total += i
      print(f"1부터 {n}까지의 합은: {total} 입니다.")
except ValueError:
          print("유효한 정수를 입력하세요.")

양의 정수 N을 입력하세요: 100
1부터 100까지의 합은: 5050 입니다.

In [78]:
n = int(input("양의 정수 N을 입력하세요: "))
total = 0
for i in range(1, n + 1):
  total += i
print(f"1부터 {n}까지의 합은: {total} 입니다.") #들여쓰기 중요

양의 정수 N을 입력하세요: 20
1부터 20까지의 합은: 210 입니다.

In [80]:
count = 0
print("0부터 9까지 출력:")
while count < 10:
  print(count)
  count += 1
print("while 루프 종료")
#조건이 들어가야 하면 while문

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [90]:
print("0부터 9까지 출력:")
for i in range(10):
  print(i)
print("for 루프 종료")
#조건없이 반복만 들어가야 하면 for문

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료